<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JavaBank: Profile</title>
    <link rel="stylesheet" th:href="@{/templates/styles/style.css}" type="text/css">
</head>
<body class="profile">

<div class="profile-container">
    <div class="profile-panel">
        <a href="/javabank/customer/" class="btn go-back"><img th:src="@{/templates/assets/arrow-left.svg}"/>Go back</a>
        <div class="profile-header">
            <div class="avatar" th:style="'background-image: url(\'' + '/javabank/templates/assets/' + ${customer.photoURL} + '\')'"></div>
            <div class="content">
                <h2 th:text="${customer.firstName + ' ' + customer.lastName}"></h2>
                <div class="btn-container">
                    <a href="#" class="btn CTA">Edit</a>
                    <a href="#" class="btn">Delete account</a>
                </div>
            </div>
        </div>
        <div class="details-container">
            <article>
                <h3>Personal details</h3>
                <div class="details">
                    <div class="card-detail">
                        <h5>Phone number</h5>
                        <h4 th:text="${customer.phone}"></h4>
                    </div>
                    <div class="card-detail">
                        <h5>Email</h5>
                        <h4 th:text="${customer.email}"></h4>
                    </div>
                    <div class="card-detail">
                        <h5>Street</h5>
                        <h4 th:text="${address.street}"></h4>
                    </div>
                    <div class="card-detail">
                        <h5>City</h5>
                        <h4 th:text="${address.city}"></h4>
                    </div>
                    <div class="card-detail">
                        <h5>Zip Code</h5>
                        <h4 th:text="${address.zipcode}"></h4>
                    </div>
                </div>
            </article>
            <article>
                <h3>Account info</h3>
                <div class="details">
                    <div class="card-detail">
                        <h5>Number of accounts</h5>
                        <h4 th:text="${accounts.size()} + ' active accounts'"></h4>
                    </div>
                    <div class="card-detail">
                        <h5>Accounts total</h5>
                        <h4 th:text="${#numbers.formatDecimal(totalBalance, 1, 'POINT', 2, 'POINT') + '€'}"></h4>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div class="accounts-recipients-panel">
        <div class="account-container">
            <div class="header">
                <h1>Accounts list</h1>
                <a href="#" class="btn">Transfer</a>
                <a href="#" class="btn CTA">New Account</a>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Balance</th>
                    <th>Type</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="account : ${accounts}">
                    <td th:text="${account.id}"></td>
                    <td th:text="${#numbers.formatDecimal(account.balance, 1, 'POINT', 2, 'POINT') + '€'}"></td>
                    <td>
                        <div class="tag" th:classappend="${account.accountType.toString().toLowerCase()}"><span
                                th:text="${account.accountType}"></span>
                        </div>
                    </td>
                    <td>
                        <div class="btn-container">
                            <a href="" class="btn">Deposit</a>
                            <a href="#" class="btn">Withdraw</a>
                            <a th:href="@{'/account/' + ${account.id}}" class="btn">Show activity</a>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td>Total</td>
                    <td th:text="${#numbers.formatDecimal(totalBalance, 1, 'POINT', 2, 'POINT') + '€'}"></td>
                    <td></td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="account-container">
            <div class="header">
                <h1>Recipients list</h1>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Account Number</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="recipient : ${recipients}">
                    <td th:text="${recipient.id}"></td>
                    <td th:text="${recipient.accountNumber}"></td>
                    <td th:text="${recipient.name}"></td>
                    <td th:text="${recipient.description}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</body>
</html>
